{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ file.name }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ file.name }}</h1>
            </div>
        </div>
    </div>

    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <canvas id="pdf-canvas" style="border:1px solid black;"></canvas>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <p>{{ file.description }}</p>
                
                <p>Uploaded by {{ file.uploaded_by }} on {{ file.uploaded_at }}</p>
            </div>

            <a href="{% url 'download_file' file.id %}" class="text-lg text-blue-400 hover:text-blue-900">Download</a>
        </div>
    </div>

    {% if file.uploaded_by == request.user or user.is_staff%}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="{% url 'course:deleteFile' file.id %}" class="text-lg text-red-400 hover:text-red-900">Delete</a>
                </div>
            </div>
        </div>
    {% endif %}

    
    <script type="module">
        import * as pdfjsLib from '{% static 'pdfjs/build/pdf.mjs' %}';

        // Replace 'your_pdf_url' with the actual URL of your PDF file
        const pdfUrl = "{{ file.file.url }}";

        pdfjsLib.GlobalWorkerOptions.workerSrc = '{% static 'pdfjs/build/pdf.worker.mjs' %}';

        const loadingTask = pdfjsLib.getDocument(pdfUrl);

        loadingTask.promise.then((pdf) => {
            console.log('PDF loaded');

            const pageNumber = 1;
            pdf.getPage(pageNumber).then((page) => {
                console.log('Page loaded');

                const scale = 1.5;
                const viewport = page.getViewport({ scale });

                // Prepare canvas using PDF page dimensions
                const canvas = document.getElementById('pdf-canvas');
                const context = canvas.getContext('2d');
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                // Render PDF page into canvas context
                const renderContext = {
                    canvasContext: context,
                    viewport: viewport
                };

                const renderTask = page.render(renderContext);
                renderTask.promise.then(() => {
                    console.log('Page rendered');
                });
            });
        }).catch((reason) => {
            // PDF loading error
            console.error(reason);
        });
    </script>
{% endblock %}