{% extends 'core/base.html' %}

{% block title %}{{ file.name }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ file.name }}</h1>
            </div>
        </div>
    </div>

    <iframe src="{{ file.file.url }}" width="100%" height="800px"></iframe>
    

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                <p>{{ file.description }}</p>
                
                <p>Uploaded by {{ file.uploaded_by }} on {{ file.uploaded_at }}</p>
            </div>

            <a href="{% url 'download_file' file.id %}" class="text-lg text-blue-400 hover:text-blue-900">Download</a>
        </div>
    </div>

    {% if file.uploaded_by == request.user or user.is_staff%}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="{% url 'course:deleteFile' file.id %}" class="text-lg text-red-400 hover:text-red-900">Delete</a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}